* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #d3e0ea;
  text-align: center;
  font-size: 1.5rem;
}

li {
      margin: 10px 0;
}

.body-app {
  position: relative;
  height: 100vh;
  max-width: 1300px;
}

.displayed-content {
  max-width: 500px;
  margin: 0 auto;
}

.displayed-content h1 {
  margin-bottom: 3rem;
}