.btn {
  padding: 1rem 2rem;
  margin: 1rem .5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.play-btn {
  background-color: #94ebcd;
  color: #000000;
}

.play-btn:hover {
  background-color: #76bca4;
}

.reset-btn {
  background-color: #aaaaaa;
  color: #fff;
}

.reset-btn:hover {
  background-color: #888888;
}

.nav-btn {
  border: none;
  background: none;
  margin: 0 1rem;
  font-size: 1.5rem;
  color: #000000;
  margin: 0 .5rem;
  padding: .5rem 1rem;
}
