.btn {
  padding: 10px 20px;
  margin: 10px 5px;
  font-size: 16px;
  cursor: pointer;
}

.play-btn {
  background-color: #94ebcd;
  color: #000000;
}

.play-btn:hover {
  background-color: #76bca4;
}

.reset-btn {
  background-color: #aaaaaa;
  color: #fff;
}

.reset-btn:hover {
  background-color: #888888;
}

.nav-btn {
  border: none;
  background: none;
  margin: 0 10px;
  font-size: 1.1rem;
  color: #000000;
  margin: 0 5px;
  padding: 5px 10px;
}
